<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" />
  <title>Favori Galatasayar Duvar Kağıtları</title>
  <link rel="stylesheet" href="/css/favori.css">

</head>
<body>
  <nav>
    <div class="nav-btn">
      <a href="/" class="main"><i class="fa-regular fa-house"></i></a>
      <a href="/gif" class="gif"><i class="fa-regular fa-gif"></i></a>
      <a href="/fav" class="favori"><i class="fa-solid fa-heart"></i></a>
    </div>
  </nav>
  <div class="container" id="imageContainer"></div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img id="modalImage" src="" alt="Modal Resim">
      <div class="btnn">
        <a href="" class="button" id="downloadButton" download>
          <i class="fa-regular fa-download"></i>
        </a>
        <button id="deleteButton" class="button"><i class="fa-regular fa-trash"></i></button>
      </div>
    </div>
  </div>
</body>
<script src="/js/favori.js"></script>
</html>