body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

#imageContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

#imageContainer img {
  width: calc(33.333% - 10px);
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

nav {
  height: 9vh;
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

nav a {
  color: rgba(240, 248, 255, 0.781);
  width: 80px;
  text-decoration: none;
  padding: 14px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
  background-color: rgba(22, 22, 22, 0.336);
}

.fa-regular.fa-house:hover .fa-house {
  font-weight: 900;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(12, 12, 12);
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(12, 12, 12);
}

.modal img {
  width: 100%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.btnn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.button {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.507);
  margin-left: 15px;
  margin-right: 15px;
  width: 65px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.342);
  border: 1px solid rgba(29, 29, 29, 0.774);
}

.favori {
  color: purple;
}

.gif:hover {
  background-color: rgba(22, 22, 22, 0.568);
}

.gif {
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
  background-color: rgba(22, 22, 22, 0.336);
  color: rgb(235, 104, 87);
}

.main {
  color: goldenrod;
}

.alert {
  font-weight: 600;
  font-size: 15px;
  margin-left: auto;
  margin-top: 15px;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.342);
}
